/* @import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Croissant+One&family=Fondamento:ital@0;1&display=swap'); */
@import "tailwindcss";





.cinzel-heading {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cinzel-body {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-item {
  cursor: pointer;
}


